@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Quicksand:wght@300..700&display=swap');

:root {
  --font-dancing: 'Dancing Script', cursive;
  --font-quicksand: 'Quicksand', sans-serif;
}
